/* purgecss start ignore */
.page {
  &-enter-active,
  &-leave-active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

/* remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#marquez {
  .markdown-body {
    ol {
      counter-reset: item;

      > li {
        &:before {
          @apply bg-gray-900 text-gray-100 w-6 h-6 rounded-full absolute top-0 left-0 flex text-sm font-semibold items-center justify-center;

          margin-top: 1.5px;
          content: counter(item);
          counter-increment: item;
        }
      }
    }

    ul {
      > li {
        &:before {
          @apply bg-gray-900;

          position: absolute;
          top: 0;
          left: 0;
          margin-top: 10px;
          height: 0.5rem;
          width: 0.5rem;
          border-radius: 9999px;
          content: '';
        }
      }
    }

    /* taken from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    a {
      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;

      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;

      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }
}

.dark-mode {
  #marquez {
    .markdown-body {
      ol {
        > li {
          &:before {
            @apply bg-gray-100 text-gray-900;
          }
        }
      }

      ul {
        > li {
          &:before {
            @apply bg-gray-100;
          }
        }
      }
    }
  }
}
/* purgecss end ignore */
