/* purgecss start ignore */
.page {
  &-enter-active,
  &-leave-active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

/* remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.prose {
  /* taken from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  a {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;

    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;

    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

.nuxt-content-highlight {
  @apply relative;

  & > .filename {
    @apply absolute right-0 top-0 text-gray-600 font-light z-10 mr-2 mt-1 text-sm;
  }

  & > pre {
    & > .copy {
      @apply hidden absolute right-0 bottom-0 shadow-lg px-3 py-1 text-white text-xs font-sans rounded-md bg-transparent border border-white tracking-wide font-semibold mr-3 mb-3;

      &:hover {
        @apply bg-gray-700;
      }

      &:focus {
        @apply outline-none bg-gray-900;
      }
    }

    &:hover {
      & > .copy {
        @apply block;
      }
    }
  }
}

.dark-mode {
  select.form-select {
    @apply bg-gray-900;
  }
}
/* purgecss end ignore */
